.cartImg{
    width: 70px;
    height: auto;
    padding-right: 20px;
}

.mainCartItemContainer{
    display: flex;
    padding-bottom: 40px;
    align-items: center;
    justify-content: space-between;
}

.cartItemText{
    width: 30dvw;
}

.cartPrice{
    width: 100px;
}

.cartImg{
    width: 100px;
}

.cartImgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.removeCartButton{
    border: none;
    background-color: #FFDD15;
    padding: 5px 10px;
    cursor: pointer;
}

.removeCartButton:hover{
    background-color: black;
    color: white;
}