@media screen and (max-width: 600px){

    .mainCartItemContainer{
        flex-direction: column;
    }

    .cartInfoContainer{
        align-items: center;
    }

    .cartInfoContainer button{
        margin-left: 0 !important;
        margin-bottom: 0 !important;
        margin-right: 10px;
    }

    .cartPrice{
        margin-left: 10px;
        display: flex;
        justify-content: center;
        margin-top: 2px;
    }
}

.cartInfoContainer{
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.cartImg{
    width: 70px;
    height: auto;
    padding-right: 20px;
}

.mainCartItemContainer{
    display: flex;
    padding-bottom: 40px;
    align-items: center;
}

.cartItemText{
    width: 30dvw;
}

.cartPrice{
    width: 100px;
    text-align: right;
}

.cartImg{
    width: 100px;
}

.cartImgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.removeCartButton{
    border: none;
    background-color: #FFDD15;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 50px;
    margin-bottom: 10px;
}

.removeCartButton:hover{
    background-color: black;
    color: white;
}