.emptyCartContent{
    min-height: 100dvh;
}

.emptyCartText{
    padding-top: 200px;
}

.emptyCartContent p{
    text-align: center;
}

.mainCartContent{
    min-height: 100dvh;
}

.cartItems{
    padding: 0 10dvw;
}