@media screen and (max-width: 600px){
    .subTotal{
        text-align: center !important;
    }
}

.emptyCartContent{
    min-height: 100dvh;
}

.emptyCartText{
    padding-top: 200px;
}

.emptyCartContent p{
    text-align: center;
}

.mainCartContent{
    min-height: 100dvh;
}

.cartItems{
    padding: 0 10dvw;
}

.subTotal{
    text-align: right;
    padding-bottom: 50px;
}