@media screen and (max-width: 600px){
    .productDetailContainer div{
        padding-right: 0 !important;
        text-align: center;
        align-items: center !important;
    }

    .productDetailContainer div p{
        text-align: center;
    }

    .productDetailContainer{
        width: 80% !important;
        padding-bottom: 100px !important;
    }

    .productItemContainer{
        flex-direction: column;
        align-items: center;
        padding: 25px 0 !important;
    }

    .productCategory{
        padding-top: 10px;
    }


}

.productItemContainer{
    display: flex;
    padding: 100px 0px ;
    justify-content: space-between;
    min-width: 100dvw;
}

.productItemImg{
   height: 40vh;
   width: auto;
}
.productImgContainer{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-start
;}

.productDetailContainer{
    width: 40%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 200px;
}

.productDetailContainer div{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-right: 200px;
}

.description{
    font-size: 8pt;
    padding: 40px 0;
}

.productTitle{
    font-size: 20pt;
    padding: 10px 0;
}

.productCategory{
    font-size: 8pt;
}

.addCart{
    background-color: #FFDD15;
    border: none;
    padding: 5px 15px;
    border-radius: 8em;
    cursor: pointer;
}

.addCart:hover{
    background-color: black;
    color: white;
}