.gridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;  
    align-items: center;  
    justify-items: center;
    margin: 0 20px;
    
}

@media screen and (max-width: 600px){
    .gridContainer{
        grid-template-columns: 1fr;
        gap: 50px;
    }
}

.footerShop{
    padding-top: 100px;
}

.topBar{
    padding-bottom: 30px;
}