@media screen and (max-width: 600px){
    .footContainer{
        font-size: 6pt;
        display: flex;
        flex-direction: column;
    }

    .mailList{
        font-size: 6pt !important;
    }

    .mailListForm {
        display: flex;
    }

    .alias{
        text-align: left !important;
        padding-top: 20px;
    }
}

.foot{
    width: 100%;
    height: 50px;
    position: relative;
    bottom: 0;
    background-color: black;
    color: #FFDD15;
}

.footContainer{
    padding: 50px;
    background-color: black;
}

.alias{
    text-align: right;
    font-size: 6pt;
}

.mailList{
    font-size: 10pt;
    padding-bottom: 5px;
}

.mailListForm input{
    font-size: 8pt;
    color: black;
    background-color: #FFDD15;
    border: none;
    padding: 5px;
}

.mailListForm button{
    border: none;
    padding: 5px;
    background-color: lightgray;
    color: black;
    font-size: 8pt;
    margin-left: 10px;
    cursor: pointer;
}

.mailListForm button:hover{
    background-color: #FFDD15;
}