@media screen and (max-width: 600px){

    .flexContainer div img{
        max-width: 100vw !important;
    }

    .flexContainer{
        flex-direction: column;
        padding: 0 !important;
    }

}

.flexContainer{
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    padding: 40px 0;
}

.flexContainer div img{
    max-width: 30vw;
    padding-bottom: 50px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
