@media screen and (max-width: 600px){
    .logo{
        font-size: 8pt;
        padding-right: 0;
        justify-content: space-between;
        flex-grow: 1;
    }
    
    .logo img{
        padding-right: 0 !important;
    }

    li{
        padding: 10px !important;
        text-align: center;
    }

    ul{
        justify-content: space-evenly;
    }

    .links{
        display: none;
    }
}

.top{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFDD15;
    width: 100vw;
    min-height: 30px;
    background-color: black;
    font-size: 10px;
}

.logo img{
    max-height: 50px;
    padding-right: 40px;
}

.flexBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    max-width: 100vw;
}

.logo{
    display: flex;
    align-items: center;
}

h1{
    font-size: 18pt;
    padding-top: 5px;
}

li{
    list-style-type: none;
    margin: 0;
    padding: 0 50px 0 0;
    font-weight: 500 !important;
}

ul{
    display: flex;
}

.links svg{
    padding-left: 20px;
}

.links svg:hover{
    fill: #FFDD15;
    cursor: pointer;
}

.link, .link:active, .link:focus{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.link:hover{
    color: #FFDD15;
    cursor: pointer;
}